<!DOCTYPE html>
<html>
<body>
you must fill in everything for this crazy creation to work
  <form action ='{{upload_url}}' enctype= 'multipart/form-data' method = 'POST'>
    Email: <br>
    <input type = 'text' name = 'email'>
    <br>
    Email2: <br>
    <input type = 'text' name = 'email2'>
    <br>
    Message: <br>
    <textarea name = 'message' rows = '10' cols = '30'>
    </textarea>
    <br><br>
    <input type = 'submit' value = 'Send Email'>
    <br><br> GIF SELECTION <br>
    <input type = 'text' name = 'user_selection' >
    <br> TIME SELECTION <br>
    <input type = 'text' name = 'email_delay'>
    <br> Upload File: <br>
     <input type= 'file' name= 'file'>
     <br><br>
  </form>
</body>
</html>
